<ion-toolbar>
    <a routerLink="/tabs">
      <img class="logo-icon" src="https://res.cloudinary.com/ha07zfj3c/image/upload/v1543224551/profile-img/careermeze.png" style="width:150px; height: auto">
  </a>
  <ion-buttons slot="secondary">
    <!-- <ion-button>
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button> -->
  </ion-buttons>

  <ion-avatar slot="primary" style="width:30px; height: 30px; margin-left:10px">
    <img [src]="user.profileImage">
  </ion-avatar>
  <ion-buttons slot="primary">
    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <!-- <ion-button color="primary">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button> -->
  </ion-buttons>
  <ion-title></ion-title>
</ion-toolbar>
