<ion-content padding>
  <app-loading *ngIf="showWait"></app-loading>

  <div *ngIf="!showWait">
    <div class="logo">
      <ion-img src="https://res.cloudinary.com/ha07zfj3c/image/upload/v1543224529/profile-img/career.png"
        style="width:200px; height: auto"></ion-img>
    </div>

    <div class="title">
      <h4 class="title">Forgot Password</h4>
    </div>
    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
    </ion-list>

    <div *ngIf="expiry" class="remember-forgot-password">
      <ion-button mat-button color="primary" class="submit-button" (click)="onResendLink()"> Resend Account Verification
        Link
      </ion-button>
    </div>

    <ion-button expand="block" fill="solid" color="primary"  (click)="onForgotSubmit()">Send Reset Link</ion-button>

    <div class="register" fxLayout="column" fxLayoutAlign="center center">
        <a class="link" routerLink="/login">Back to login</a>
    </div>
  </div>
</ion-content>
